In [1]:
'''
Q1. We use While loop when we don't know the number of iterations to perform in a loop
Eg:- We use the while loop until the condition becomes false until then let th loop continue.
Where as for loop is use when we know how many times the loop will repeat before itself.
Eg:- For printing the table of a number for multiplication upto 10. Here we know the loop will repeat for 10 times.
'''

"\nQ1. We use While loop when we don't know the number of iterations to perform in a loop\nEg:- We use the while loop until the condition becomes false until then let th loop continue.\nWhere as for loop is use when we know how many times the loop will repeat before itself.\nEg:- For printing the table of a number for multiplication upto 10. Here we know the loop will repeat for 10 times.\n"

In [8]:
#Q2
i=1
sum, product = 0, 1
while i<=10:
    sum+=i
    product*=i
    i+=1
print("The sum is:", sum)
print("The product is:", product)

The sum is: 55
The product is: 3628800

In [9]:
#Q3
units = int(input("Enter the total number of units: "))
sum=0
if(units>300):
    sum = 2050 + (units-300)*20
elif(units>200):
    sum = 1050 + (units-200)*10
elif(units>100):
    sum = 450 + (units-100)*6
elif(units<=100):
    sum = units*4.5
print("The total Bill to Pay is :", sum)

Enter the total number of units:  310

The total Bill to Pay is : 2250

In [12]:
#Q4
# Using while
l=[]
i=1
while i<=100:
    j = i**3
    if(j%4==0 or j%5==0):
        l.append(i)
    i+=1
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [16]:
#Q4
# Using for loop
l=[]
for i in range(1, 101):
    j = i**3
    if(j%4==0 or j%5==0):
        l.append(i)
    i+=1
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [4]:
#Q5
vowel = set("aeiouAEIOU")
string = "I want to become a data scientist"
count=0
for i in string:
    if i in vowel:
        count+=1
        
print("Total number of times vowels in string are:", count)

Total number of times vowels in string are: 12